<?xml version="1.0" encoding="windows-1251"?>
<request>
  <requestTime>{$requestTime}</requestTime>
  <operatorName>{$operatorName}</operatorName>
  <inn>{$inn}</inn>
  <ogrn>{$ogrn}</ogrn>
  <email>{$email}</email>
</request>
